istemci/Service References/DDService/DDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/servis.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/servis.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VMKullanici">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eposta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kimlik" type="xs:int" />
      <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciTuru" type="xs:boolean" />
      <xs:element minOccurs="0" name="Parola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soyisim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMKullanici" nillable="true" type="tns:VMKullanici" />
  <xs:complexType name="VMSoru">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baslik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kimlik" type="xs:int" />
      <xs:element minOccurs="0" name="Metin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soran_Kimlik" type="xs:int" />
      <xs:element minOccurs="0" name="SorulmaTarihi" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMSoru" nillable="true" type="tns:VMSoru" />
  <xs:complexType name="ArrayOfVMSoru">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMSoru" nillable="true" type="tns:VMSoru" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMSoru" nillable="true" type="tns:ArrayOfVMSoru" />
</xs:schema>