istemci/Service References/DDService/DDService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KullaniciKayitEt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ePosta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciKayitEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciKayitEtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiYap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiYapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciGirisiYapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>