istemci/Service References/DDService/DDService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dds.somee.com/DDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/servis.ViewModel" />
  <xs:element name="KullaniciKayitEt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ePosta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciKayitEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciKayitEtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiYap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiYapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="KullaniciGirisiYapResult" nillable="true" type="q1:VMKullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="KullaniciBilgileriniGetirResult" nillable="true" type="q2:VMKullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGuncelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
        <xs:element minOccurs="0" name="ePosta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soyisim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avatarLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGuncelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciBilgileriniGuncelleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soran" type="xs:int" />
        <xs:element minOccurs="0" name="baslik" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="metin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruBilgileriniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruBilgileriniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="SoruBilgileriniGetirResult" nillable="true" type="q3:VMSoru" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SorulariGetir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SorulariGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="SorulariGetirResult" nillable="true" type="q4:ArrayOfVMSoru" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruAra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baslik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruAraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="SoruAraResult" nillable="true" type="q5:ArrayOfVMSoru" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eklenecekSorununKimligi" type="xs:int" />
        <xs:element minOccurs="0" name="ekleyeninKimligi" type="xs:int" />
        <xs:element minOccurs="0" name="metin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevapEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapBilgileriniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapBilgileriniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="CevapBilgileriniGetirResult" nillable="true" type="q6:VMCevap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SorununCevaplariniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SorununCevaplariniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="SorununCevaplariniGetirResult" nillable="true" type="q7:ArrayOfVMCevap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YorumEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eklenecekCevabinKimligi" type="xs:int" />
        <xs:element minOccurs="0" name="ekleyeninKimligi" type="xs:int" />
        <xs:element minOccurs="0" name="metin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YorumEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YorumEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YorumBilgileriniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YorumBilgileriniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="YorumBilgileriniGetirResult" nillable="true" type="q8:VMYorum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabinYorumlariniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabinYorumlariniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/servis.ViewModel" minOccurs="0" name="CevabinYorumlariniGetirResult" nillable="true" type="q9:ArrayOfVMYorum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyuFavorilereEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciKimlik" type="xs:int" />
        <xs:element minOccurs="0" name="soruKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyuFavorilereEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruyuFavorilereEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiFavorilereEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciKimlik" type="xs:int" />
        <xs:element minOccurs="0" name="cevapKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiFavorilereEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevabiFavorilereEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyuFavorilerdenKaldir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciKimlik" type="xs:int" />
        <xs:element minOccurs="0" name="soruKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyuFavorilerdenKaldirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruyuFavorilerdenKaldirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiFavorilerdenKaldir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciKimlik" type="xs:int" />
        <xs:element minOccurs="0" name="cevapKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiFavorilerdenKaldirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevabiFavorilerdenKaldirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruFavorilerdeMi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciKimlik" type="xs:int" />
        <xs:element minOccurs="0" name="soruKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruFavorilerdeMiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruFavorilerdeMiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapFavorilerdeMi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciKimlik" type="xs:int" />
        <xs:element minOccurs="0" name="cevapKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapFavorilerdeMiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevapFavorilerdeMiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiOna">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cevapKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiOnaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevabiOnaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapOnayiniKaldir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cevapKimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapOnayiniKaldirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevapOnayiniKaldirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>