istemci/Service References/DDService/DDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/DDService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/DDService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/DDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/servis.ViewModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDDService_KullaniciKayitEt_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciKayitEt" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciKayitEt_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciKayitEtResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciGirisiYap_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGirisiYap" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciGirisiYap_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGirisiYapResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGuncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGuncelle" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGuncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruEkle" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruBilgileriniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruBilgileriniGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruBilgileriniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruBilgileriniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_SorulariGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:SorulariGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_SorulariGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:SorulariGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:CevapEkle" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevapEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapBilgileriniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:CevapBilgileriniGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapBilgileriniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevapBilgileriniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_SorununCevaplariniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:SorununCevaplariniGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_SorununCevaplariniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:SorununCevaplariniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_YorumEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:YorumEkle" />
  </wsdl:message>
  <wsdl:message name="IDDService_YorumEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:YorumEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_YorumBilgileriniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:YorumBilgileriniGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_YorumBilgileriniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:YorumBilgileriniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabinYorumlariniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:CevabinYorumlariniGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabinYorumlariniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevabinYorumlariniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruyuFavorilereEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruyuFavorilereEkle" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruyuFavorilereEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruyuFavorilereEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabiFavorilereEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:CevabiFavorilereEkle" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabiFavorilereEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevabiFavorilereEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruyuFavorilerdenKaldir_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruyuFavorilerdenKaldir" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruyuFavorilerdenKaldir_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruyuFavorilerdenKaldirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabiFavorilerdenKaldir_InputMessage">
    <wsdl:part name="parameters" element="tns:CevabiFavorilerdenKaldir" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabiFavorilerdenKaldir_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevabiFavorilerdenKaldirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruFavorilerdeMi_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruFavorilerdeMi" />
  </wsdl:message>
  <wsdl:message name="IDDService_SoruFavorilerdeMi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruFavorilerdeMiResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapFavorilerdeMi_InputMessage">
    <wsdl:part name="parameters" element="tns:CevapFavorilerdeMi" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapFavorilerdeMi_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevapFavorilerdeMiResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabiOna_InputMessage">
    <wsdl:part name="parameters" element="tns:CevabiOna" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevabiOna_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevabiOnaResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapOnayiniKaldir_InputMessage">
    <wsdl:part name="parameters" element="tns:CevapOnayiniKaldir" />
  </wsdl:message>
  <wsdl:message name="IDDService_CevapOnayiniKaldir_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevapOnayiniKaldirResponse" />
  </wsdl:message>
  <wsdl:portType name="IDDService">
    <wsdl:operation name="KullaniciKayitEt">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciKayitEt" message="tns:IDDService_KullaniciKayitEt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciKayitEtResponse" message="tns:IDDService_KullaniciKayitEt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciGirisiYap">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciGirisiYap" message="tns:IDDService_KullaniciGirisiYap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciGirisiYapResponse" message="tns:IDDService_KullaniciGirisiYap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGetir" message="tns:IDDService_KullaniciBilgileriniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGetirResponse" message="tns:IDDService_KullaniciBilgileriniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGuncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGuncelle" message="tns:IDDService_KullaniciBilgileriniGuncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGuncelleResponse" message="tns:IDDService_KullaniciBilgileriniGuncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/SoruEkle" message="tns:IDDService_SoruEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/SoruEkleResponse" message="tns:IDDService_SoruEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruBilgileriniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/SoruBilgileriniGetir" message="tns:IDDService_SoruBilgileriniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/SoruBilgileriniGetirResponse" message="tns:IDDService_SoruBilgileriniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SorulariGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/SorulariGetir" message="tns:IDDService_SorulariGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/SorulariGetirResponse" message="tns:IDDService_SorulariGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevapEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevapEkle" message="tns:IDDService_CevapEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevapEkleResponse" message="tns:IDDService_CevapEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevapBilgileriniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevapBilgileriniGetir" message="tns:IDDService_CevapBilgileriniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevapBilgileriniGetirResponse" message="tns:IDDService_CevapBilgileriniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SorununCevaplariniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/SorununCevaplariniGetir" message="tns:IDDService_SorununCevaplariniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/SorununCevaplariniGetirResponse" message="tns:IDDService_SorununCevaplariniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YorumEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/YorumEkle" message="tns:IDDService_YorumEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/YorumEkleResponse" message="tns:IDDService_YorumEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YorumBilgileriniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/YorumBilgileriniGetir" message="tns:IDDService_YorumBilgileriniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/YorumBilgileriniGetirResponse" message="tns:IDDService_YorumBilgileriniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevabinYorumlariniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevabinYorumlariniGetir" message="tns:IDDService_CevabinYorumlariniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevabinYorumlariniGetirResponse" message="tns:IDDService_CevabinYorumlariniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruyuFavorilereEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/SoruyuFavorilereEkle" message="tns:IDDService_SoruyuFavorilereEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/SoruyuFavorilereEkleResponse" message="tns:IDDService_SoruyuFavorilereEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevabiFavorilereEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevabiFavorilereEkle" message="tns:IDDService_CevabiFavorilereEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevabiFavorilereEkleResponse" message="tns:IDDService_CevabiFavorilereEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruyuFavorilerdenKaldir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/SoruyuFavorilerdenKaldir" message="tns:IDDService_SoruyuFavorilerdenKaldir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/SoruyuFavorilerdenKaldirResponse" message="tns:IDDService_SoruyuFavorilerdenKaldir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevabiFavorilerdenKaldir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevabiFavorilerdenKaldir" message="tns:IDDService_CevabiFavorilerdenKaldir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevabiFavorilerdenKaldirResponse" message="tns:IDDService_CevabiFavorilerdenKaldir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruFavorilerdeMi">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/SoruFavorilerdeMi" message="tns:IDDService_SoruFavorilerdeMi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/SoruFavorilerdeMiResponse" message="tns:IDDService_SoruFavorilerdeMi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevapFavorilerdeMi">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevapFavorilerdeMi" message="tns:IDDService_CevapFavorilerdeMi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevapFavorilerdeMiResponse" message="tns:IDDService_CevapFavorilerdeMi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevabiOna">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevabiOna" message="tns:IDDService_CevabiOna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevabiOnaResponse" message="tns:IDDService_CevabiOna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevapOnayiniKaldir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/CevapOnayiniKaldir" message="tns:IDDService_CevapOnayiniKaldir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/CevapOnayiniKaldirResponse" message="tns:IDDService_CevapOnayiniKaldir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDDService" type="tns:IDDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullaniciKayitEt">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciKayitEt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciGirisiYap">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciGirisiYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciBilgileriniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGuncelle">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciBilgileriniGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruEkle">
      <soap:operation soapAction="http://tempuri.org/IDDService/SoruEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruBilgileriniGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/SoruBilgileriniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SorulariGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/SorulariGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevapEkle">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevapEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevapBilgileriniGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevapBilgileriniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SorununCevaplariniGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/SorununCevaplariniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YorumEkle">
      <soap:operation soapAction="http://tempuri.org/IDDService/YorumEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YorumBilgileriniGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/YorumBilgileriniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevabinYorumlariniGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevabinYorumlariniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruyuFavorilereEkle">
      <soap:operation soapAction="http://tempuri.org/IDDService/SoruyuFavorilereEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevabiFavorilereEkle">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevabiFavorilereEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruyuFavorilerdenKaldir">
      <soap:operation soapAction="http://tempuri.org/IDDService/SoruyuFavorilerdenKaldir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevabiFavorilerdenKaldir">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevabiFavorilerdenKaldir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruFavorilerdeMi">
      <soap:operation soapAction="http://tempuri.org/IDDService/SoruFavorilerdeMi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevapFavorilerdeMi">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevapFavorilerdeMi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevabiOna">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevabiOna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevapOnayiniKaldir">
      <soap:operation soapAction="http://tempuri.org/IDDService/CevapOnayiniKaldir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DDService">
    <wsdl:port name="BasicHttpBinding_IDDService" binding="tns:BasicHttpBinding_IDDService">
      <soap:address location="http://localhost:8301/DDService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>