istemci/Service References/DDService/DDService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/DDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servis.Model" />
  <xs:element name="KullaniciKayitEt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ePosta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciKayitEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciKayitEtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiYap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiYapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciGirisiYapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servis.Model" minOccurs="0" name="KullaniciBilgileriniGetirResult" nillable="true" type="q1:Kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGuncelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kimlik" type="xs:int" />
        <xs:element minOccurs="0" name="ePosta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soyisim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avatarLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGuncelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciBilgileriniGuncelleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>