istemci/Service References/DDService/DDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/servis.Models.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/servis.Models.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Kullanici">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eposta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kimlik" type="xs:int" />
      <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciTuru" type="xs:boolean" />
      <xs:element minOccurs="0" name="Parola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soyisim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kullanici" nillable="true" type="tns:Kullanici" />
</xs:schema>