istemci/Service References/DDService/DDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/DDService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/DDService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/DDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/servis.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDDService_KullaniciKayitEt_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciKayitEt" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciKayitEt_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciKayitEtResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciGirisiYap_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGirisiYap" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciGirisiYap_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGirisiYapResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGetir" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGuncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGuncelle" />
  </wsdl:message>
  <wsdl:message name="IDDService_KullaniciBilgileriniGuncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGuncelleResponse" />
  </wsdl:message>
  <wsdl:portType name="IDDService">
    <wsdl:operation name="KullaniciKayitEt">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciKayitEt" message="tns:IDDService_KullaniciKayitEt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciKayitEtResponse" message="tns:IDDService_KullaniciKayitEt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciGirisiYap">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciGirisiYap" message="tns:IDDService_KullaniciGirisiYap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciGirisiYapResponse" message="tns:IDDService_KullaniciGirisiYap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGetir" message="tns:IDDService_KullaniciBilgileriniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGetirResponse" message="tns:IDDService_KullaniciBilgileriniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGuncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGuncelle" message="tns:IDDService_KullaniciBilgileriniGuncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDDService/KullaniciBilgileriniGuncelleResponse" message="tns:IDDService_KullaniciBilgileriniGuncelle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDDService" type="tns:IDDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullaniciKayitEt">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciKayitEt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciGirisiYap">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciGirisiYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGetir">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciBilgileriniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGuncelle">
      <soap:operation soapAction="http://tempuri.org/IDDService/KullaniciBilgileriniGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DDService">
    <wsdl:port name="BasicHttpBinding_IDDService" binding="tns:BasicHttpBinding_IDDService">
      <soap:address location="http://localhost:8301/DDService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>